<%= javascript_include_tag 'ajax' %>
<%= javascript_include_tag 'site' %>


  <div class="row">
    <div class="col-md-12 titulo">
      <h1>Compare the below accounts:</h1>      
    </div>
  </div>


  <%= form_for :usuarios, html: { class: "form-group" }, url: { action: "match" }  do |f| %>

    <div class="row js-txbox-line">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= f.text_field :usu_1, class:'form-control', placeholder: "instagram_user"  %>
      </div>
      <div class="col-md-3">
      </div>
    </div>

    <div class="row js-txbox-line">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= f.text_field :usu_2, class:'form-control', placeholder: "instagram_user"  %> 
      </div>
      <div class="col-md-3">
        <button class="js-btn-add btn btn-default" >+</button>
      </div>
    </div>
    
    <div class="js-add-textbox"></div>

    <div class="row js-txbox-line final-form">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= f.submit "COMPARE", class:'js-submit btn btn-primary' %>
      </div>
    </div>

  <% end %>

  <div class="modal fade js-medium-modal al">
    <div class="modal-dialog al">
      <div class="modal-1 al">
        <div class="modal-2 al">
        <div class="cssload-loader al">
          <div class="cssload-square cssload-square--main js-modal-body">
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
              <div class="cssload-square cssload-square--mini"></div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>