<%= javascript_include_tag 'ajax' %>
<%= javascript_include_tag 'site' %>


  <div class="row">
    <div class="col-md-12 titulo">
      <h1>Compara las siguientes cuentas:</h1>      
    </div>
  </div>


  <%= form_for :usuarios, html: { class: "form-group" }, url: { action: "match" }  do |f| %>

    <div class="row js-txbox-line">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= f.text_field :usu_1, class:'form-control', placeholder: "usuario_instagram"  %>
      </div>
      <div class="col-md-3">
      </div>
    </div>

    <div class="row js-txbox-line">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= f.text_field :usu_2, class:'form-control', placeholder: "usuario_instagram"  %> 
      </div>
      <div class="col-md-3">
        <button class="js-btn-add btn btn-default" >+</button>
      </div>
    </div>
    
    <div class="js-add-textbox"></div>

    <div class="row js-txbox-line final-form">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <%= f.submit "COMPARAR", class:'js-submit btn btn-primary' %>
      </div>
    </div>

  <% end %>

  <%= @pa %>