<%= javascript_include_tag 'ajax' %>
<%= javascript_include_tag 'site' %>
<%= javascript_include_tag 'geolocation' %>
<h2>Comparando los usuarios: </h2>


<div class='row'>
  <div class='col-md-12'>

    <% @usuarios.each do |usu| %>
      <% if (usu[:id] != nil) %>
      <div class="oculto">        
        <p class="users_shown"><%= usu[:id] %></p>
      </div>
        <div class='usu-name'><%= usu[:username] %><br><a href='<%= usu[:website] %>' target="_blank"><img src='<%= usu[:profilepicture] %>' height='100px'></a></div>
      <% else %>
        <div class='usu-name'>El usuario <%= usu[:username] %> no existe.</div>
      <% end %>
    <% end %>

  </div>
</div>

<div class='row'>
  <h2>La distancia minima entre los usuarios es de 1048 metros.</h2>
  <h2>Se cruzaron dia 28-5-14.</h2>
</div>

<div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-2'>
      <a href="/" class="js-ajax">Cargar</a>      
    </div>
    <div class='col-md-2'>
      <a href="/" class="js-drawMatchMarkers">Coincidencias</a>      
    </div>
    <div class='col-md-2'>
      <a href="/" class="js-drawAllMarkers">Todas</a> 
    </div>
    <div class='col-md-2'>
      <a href="/" class="js-drawCircles">Densidad</a> 
    </div>
    <div class='col-md-2'></div>
</div>

<div class='row row-map'>
    <div id="map"></div>
</div>

<div class='row row-map'>
    <div id="map2"></div>
</div>
<script src="https://maps.googleapis.com/maps/api/js"></script>