<%= javascript_include_tag 'jquery-ui' %>
<%= javascript_include_tag 'ajax' %>
<%= javascript_include_tag 'match' %>
<%= javascript_include_tag 'site' %>
<%= javascript_include_tag 'geolocation' %>

<div class='row'>
  <div class='col-md-12 titulo'>
    <h1>Comparando los usuarios: </h1>
  </div>
</div>

<div class='row'>
  <div class='col-md-12 col-usus'>
  <div class="usuarios">
    <% @usuarios.each do |usu| %>
      <% if (usu[:id] != nil) %>
        <div class='usu-name' data-user="<%= usu[:id] %>"><a href='<%= usu[:website] %>' target="_blank"><img src='<%= usu[:profilepicture] %>' class="redondo" data-color="<%= usu[:id] %>" height='100px'></a><br><%= usu[:username] %></div>
      <% else %>
        <div class='usu-name'>El usuario <%= usu[:username] %> no existe.</div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<div class='row links'>    
    <a href="/">
      <div class='col-md-4 boton js-drawMatchMarkers'>
        Coincidencias
      </div>
    </a>
    <a href="/">
      <div class='col-md-4 boton js-drawAllMarkers'>
        Todas 
      </div>
    </a>  
    <a href="/">  
      <div class='col-md-4 boton js-drawCircles'>
        Densidad
      </div>
    </a>  
</div>

<div class="row slides">
      <div class='col-md-6 one-slide'>
      <div class="one-slide">
        <div class="text-slide">
          <p>
            <label for="js-radio-box1">Fotografias en un radio de </label>
            <input type="text" class="js-radio-box" id="js-radio-box1" readonly>
            <label for="js-radio-box1"> metros a la redonda. </label>
          </p>
        </div>
        <div id="slider1"></div>   
      </div> 
      </div>
      <div class='col-md-6'> 
      <div class="one-slide">
        <div class="text-slide">  
          <p>
            <label for="js-radio-box2">Fotografias con </label>
            <input type="text" class="js-radio-box" id="js-radio-box2" readonly>
            <label for="js-radio-box2"> dias de diferencia</label>            
          </p>
        </div>
        <div id="slider2"></div>
        </div>
      </div>
</div>

<div class='row row-map'>
    <div id="map"></div>
</div>

<div class='row row-coincidencias'>
<h1>Curiosidades</h1>
  <ul>    
    <li>
      <h2 class="frase-time">Hay una foto en el mismo sitio, con una diferencia minima de 2 dias.</h2>
    </li>
    <li>
      <h2 class="frase-radio">La distancia minima entre dos fotos es de 48 metros.</h2>
    </li>    
    <li>
      <h2 class="frase-radio-time">Se izieron unas fotos a 10 metros, en 3 dias de diferencia.</h2>
    </li>       
  </ul>
</div>

<div class="modal fade js-medium-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header js-modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <img id="js-medium-img" src="" height="565px">
      </div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js"></script>

<script>

    $( "#slider1" ).slider({
      range: "min",
      min: 0,
      max: 1000,
      value: 1000,
      slide: function( event, ui ) {
        $( "#js-radio-box1" ).val( ui.value );
        $(".js-drawMatchMarkers").click();
      }
    });
    $( "#js-radio-box1" ).val( $( "#slider1" ).slider( "value" ) );

    $( "#slider2" ).slider({
    range: "min",
      min: 0,
      max: 365,
      value: 365,
      slide: function( event, ui ) {
        $( "#js-radio-box2" ).val( ui.value );
        $(".js-drawMatchMarkers").click();
      }
    });
    $( "#js-radio-box2" ).val( $( "#slider2" ).slider( "value" ) );  

</script>